In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100)

In [43]:
def pdtable(key,df):
    return df.groupby(key).size().sort_values(ascending=False)

In [219]:
# read in data
my_df = pd.read_csv('survey.csv',index_col=0).reset_index()
print(my_df.shape)
my_df.head(10)

(1259, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,No,Yes,Yes,Not sure,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,Yes,Yes,No,No,No,No,No,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
7,2014-08-27 11:32:05,39,M,Canada,NaN,NaN,No,No,Never,1-5,Yes,Yes,No,Yes,No,No,Yes,Don't know,No,No,No,No,No,No,No,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,No,Yes,Yes,Yes,No,No,No,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,No,Yes,Don't know,No,Don't know,Don't know,Don't know,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN

In [6]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 2014-08-27 11:29:31 to 2016-02-01 23:04:31
Data columns (total 26 columns):
Age                          1259 non-null int64
Gender                       1259 non-null object
Country                      1259 non-null object
state                        744 non-null object
self_employed                1241 non-null object
family_history               1259 non-null object
treatment                    1259 non-null object
work_interfere               995 non-null object
no_employees                 1259 non-null object
remote_work                  1259 non-null object
tech_company                 1259 non-null object
benefits                     1259 non-null object
care_options                 1259 non-null object
wellness_program             1259 non-null object
seek_help                    1259 non-null object
anonymity                    1259 non-null object
leave                        1259 non-null object
mental_health_consequence    1259 non-null object
phys_health_consequence      1259 non-null object
coworkers                    1259 non-null object
supervisor                   1259 non-null object
mental_health_interview      1259 non-null object
phys_health_interview        1259 non-null object
mental_vs_physical           1259 non-null object
obs_consequence              1259 non-null object
comments                     164 non-null object
dtypes: int64(1), object(25)
memory usage: 265.6+ KB

In [221]:
my_df.groupby('treatment').size()

treatment
No     622
Yes    637
dtype: int64

In [277]:
my_df.treatment[my_df.treatment == "Yes"] = 1
my_df.treatment[my_df.treatment == "No"] = 0
pdtable("treatment",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

treatment
1    605
0    553
dtype: int64

In [220]:
# Treat NA
my_df = my_df.drop(['comments'], axis= 1) # comments too much NA just drop
my_df = my_df.drop(['Timestamp'], axis= 1) # Others are not missing at random so shouldnt dropped

total = my_df.isnull().sum().sort_values(ascending=False)
percent = (my_df.isnull().sum()/my_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

                           Total   Percent
state                        515  0.409055
work_interfere               264  0.209690
self_employed                 18  0.014297
obs_consequence                0  0.000000
benefits                       0  0.000000
Gender                         0  0.000000
Country                        0  0.000000
family_history                 0  0.000000
treatment                      0  0.000000
no_employees                   0  0.000000
remote_work                    0  0.000000
tech_company                   0  0.000000
care_options                   0  0.000000
mental_vs_physical             0  0.000000
wellness_program               0  0.000000
seek_help                      0  0.000000
anonymity                      0  0.000000
leave                          0  0.000000
mental_health_consequence      0  0.000000
phys_health_consequence        0  0.000000
coworkers                      0  0.000000
supervisor                     0  0.000000
mental_health_interview        0  0.000000
phys_health_interview          0  0.000000
Age                            0  0.000000

In [222]:
# look at gender
gender = my_df['Gender'].str.lower()
#print(gender)

#Select unique elements
gender = my_df['Gender'].unique()

#Made gender groups
male_str = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male"]
trans_str = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", "guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means"]           
female_str = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail"]


for (row, col) in my_df.iterrows():

    if str.lower(col.Gender) in male_str:
        my_df['Gender'].replace(to_replace=col.Gender, value='male', inplace=True)

    if str.lower(col.Gender) in female_str:
        my_df['Gender'].replace(to_replace=col.Gender, value='female', inplace=True)

    if str.lower(col.Gender) in trans_str:
        my_df['Gender'].replace(to_replace=col.Gender, value='trans', inplace=True)

#Get rid of bullshit
stk_list = ['A little about you', 'p']
my_df = my_df[~my_df['Gender'].isin(stk_list)]

print(my_df['Gender'].unique())

['female' 'male' 'trans']

In [223]:
pdtable("Gender",my_df)

Gender
male      991
female    247
trans      19
dtype: int64

In [224]:
my_df.index = np.arange(0,my_df.shape[0])
list(my_df.index[1124:1130])

[1124, 1125, 1126, 1127, 1128, 1129]

In [225]:
my_df.Gender = pd.Series([1 if x == "male" else 0 for x in my_df.Gender])

In [25]:
# look at age
my_df.describe()

                Age
count  1.257000e+03
mean   7.955453e+07
std    2.820541e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

In [226]:
print(len(my_df.Age[my_df.Age < 18]))# 4
print(len(my_df.Age[my_df.Age > 80]))# 2
# restrain age to be 18-80
my_df.Age[my_df.Age < 18] = 18
my_df.Age[my_df.Age > 80] = 80
my_df.describe()

4
2

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

               Age       Gender
count  1257.000000  1257.000000
mean     32.108194     0.788385
std       7.559914     0.408616
min      18.000000     0.000000
25%      27.000000     1.000000
50%      31.000000     1.000000
75%      36.000000     1.000000
max      80.000000     1.000000

In [67]:
# look at Country and state
print(my_df.groupby('Country').size().sort_values(ascending=False).head(20))
print(my_df.groupby('state').size().sort_values(ascending=False).head(20))
my_df.state.unique()

Country
United States     750
United Kingdom    185
Canada             72
Germany            45
Netherlands        27
Ireland            27
Australia          21
France             13
India              10
New Zealand         8
Switzerland         7
Italy               7
Sweden              7
Poland              7
South Africa        6
Belgium             6
Brazil              6
Israel              5
Bulgaria            4
Singapore           4
dtype: int64
state
CA    138
WA     70
NY     57
TN     45
TX     44
OH     30
OR     29
PA     29
IL     28
IN     27
MI     22
MN     21
MA     20
FL     15
VA     14
NC     14
GA     12
MO     12
WI     12
UT     11
dtype: int64

array(['IL', 'IN', nan, 'TX', 'TN', 'MI', 'OH', 'CA', 'CT', 'MD', 'NY',
       'NC', 'MA', 'IA', 'PA', 'WA', 'WI', 'UT', 'NM', 'OR', 'FL', 'MN',
       'MO', 'AZ', 'CO', 'GA', 'DC', 'NE', 'WV', 'OK', 'KS', 'VA', 'NH',
       'KY', 'AL', 'NV', 'NJ', 'SC', 'VT', 'SD', 'ID', 'MS', 'RI', 'WY',
       'LA', 'ME'], dtype=object)

In [228]:
top_10_country = list(pdtable('Country',my_df)[:10].index)
print(my_df[my_df.Country.isin(top_10_country)].shape) # lose about 10% of data 
my_df = my_df[my_df.Country.isin(top_10_country)]

(1158, 25)

In [231]:
# check missing again
def check_miss(my_df):
    total = my_df.isnull().sum().sort_values(ascending=False)
    percent = (my_df.isnull().sum()/my_df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data)

check_miss(my_df)

                           Total   Percent
state                        419  0.361831
work_interfere               236  0.203800
self_employed                 17  0.014680
obs_consequence                0  0.000000
benefits                       0  0.000000
Gender                         0  0.000000
Country                        0  0.000000
family_history                 0  0.000000
treatment                      0  0.000000
no_employees                   0  0.000000
remote_work                    0  0.000000
tech_company                   0  0.000000
care_options                   0  0.000000
mental_vs_physical             0  0.000000
wellness_program               0  0.000000
seek_help                      0  0.000000
anonymity                      0  0.000000
leave                          0  0.000000
mental_health_consequence      0  0.000000
phys_health_consequence        0  0.000000
coworkers                      0  0.000000
supervisor                     0  0.000000
mental_health_interview        0  0.000000
phys_health_interview          0  0.000000
Age                            0  0.000000

In [242]:
#look at self_employed,
pdtable('self_employed',my_df)

self_employed
No     1015
Yes     126
dtype: int64

In [250]:
my_df.self_employed.fillna("No",inplace=True)
my_df.self_employed[my_df.self_employed == "Yes"] = 1
my_df.self_employed[my_df.self_employed == "No"] = 0
pdtable("self_employed",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

self_employed
0    1032
1     126
dtype: int64

In [77]:
# look at family_history
pdtable('family_history',my_df)

family_history
No     697
Yes    461
dtype: int64

In [252]:
my_df.family_history[my_df.family_history == "Yes"] = 1
my_df.family_history[my_df.family_history == "No"] = 0
pdtable("family_history",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

family_history
0    697
1    461
dtype: int64

In [78]:
# look at work_interfere
pdtable('work_interfere',my_df)

work_interfere
Sometimes    440
Never        195
Rarely       159
Often        128
dtype: int64

In [253]:
my_df.work_interfere.fillna("Don't Know",inplace = True)
my_df.work_interfere[my_df.work_interfere == "Don't Know"] = 0
my_df.work_interfere[my_df.work_interfere == "Never"] = 1
my_df.work_interfere[my_df.work_interfere == "Rarely"] = 2
my_df.work_interfere[my_df.work_interfere == "Sometimes"] = 3
my_df.work_interfere[my_df.work_interfere == "Often"] = 4

pdtable("work_interfere",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

work_interfere
3    440
0    236
1    195
2    159
4    128
dtype: int64

In [79]:
# look at no_employees
pdtable('no_employees',my_df)

no_employees
More than 1000    270
26-100            266
6-25              254
100-500           164
1-5               146
500-1000           58
dtype: int64

In [254]:
my_df.no_employees[my_df.no_employees == "More than 1000"] = 5
my_df.no_employees[my_df.no_employees == "26-100"] = 2
my_df.no_employees[my_df.no_employees == "6-25"] = 1
my_df.no_employees[my_df.no_employees == "100-500"] = 3
my_df.no_employees[my_df.no_employees == "1-5"] = 0
my_df.no_employees[my_df.no_employees == "500-1000"] = 4

pdtable('no_employees',my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

no_employees
5    270
2    266
1    254
3    164
0    146
4     58
dtype: int64

In [80]:
# look at remote_work
pdtable('remote_work',my_df)

remote_work
No     814
Yes    344
dtype: int64

In [255]:
my_df.remote_work[my_df.remote_work == "Yes"] = 1
my_df.remote_work[my_df.remote_work == "No"] = 0
pdtable("remote_work",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

remote_work
0    814
1    344
dtype: int64

In [81]:
# look at tech_company
pdtable('tech_company',my_df)

tech_company
Yes    941
No     217
dtype: int64

In [256]:
my_df.tech_company[my_df.tech_company == "Yes"] = 1
my_df.tech_company[my_df.tech_company == "No"] = 0
pdtable("tech_company",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

tech_company
1    941
0    217
dtype: int64

In [82]:
# look at benefits
pdtable('benefits',my_df)

benefits
Yes           465
Don't know    378
No            315
dtype: int64

In [257]:
my_df.benefits[my_df.benefits == "Yes"] = 2
my_df.benefits[my_df.benefits == "Don't know"] = 1
my_df.benefits[my_df.benefits == "No"] = 0
pdtable("benefits",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

benefits
2    465
1    378
0    315
dtype: int64

In [83]:
# look at care_options
pdtable('care_options',my_df)

care_options
No          444
Yes         414
Not sure    300
dtype: int64

In [258]:
my_df.care_options[my_df.care_options == "Yes"] = 2
my_df.care_options[my_df.care_options == "Not sure"] = 1
my_df.care_options[my_df.care_options == "No"] = 0
pdtable("care_options",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

care_options
0    444
2    414
1    300
dtype: int64

In [84]:
# look at wellness_program
pdtable('wellness_program',my_df)

wellness_program
No            760
Yes           219
Don't know    179
dtype: int64

In [259]:
my_df.wellness_program[my_df.wellness_program == "Yes"] = 2
my_df.wellness_program[my_df.wellness_program == "Don't know"] = 1
my_df.wellness_program[my_df.wellness_program == "No"] = 0
pdtable("wellness_program",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

wellness_program
0    760
2    219
1    179
dtype: int64

In [262]:
# look at seek_help
pdtable('seek_help',my_df)

seek_help
0    565
1    350
2    243
dtype: int64

In [260]:
my_df.seek_help[my_df.seek_help == "Yes"] = 2
my_df.seek_help[my_df.seek_help == "Don't know"] = 1
my_df.seek_help[my_df.seek_help == "No"] = 0
pdtable("seek_help",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

seek_help
0    565
1    350
2    243
dtype: int64

In [263]:
# look at anonymity
pdtable('anonymity',my_df)

anonymity
Don't know    761
Yes           347
No             50
dtype: int64

In [264]:
my_df.anonymity[my_df.anonymity == "Yes"] = 2
my_df.anonymity[my_df.anonymity == "Don't know"] = 1
my_df.anonymity[my_df.anonymity == "No"] = 0
pdtable("anonymity",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

anonymity
1    761
2    347
0     50
dtype: int64

In [86]:
# look at leave
pdtable('leave',my_df)

leave
Don't know            529
Somewhat easy         236
Very easy             190
Somewhat difficult    118
Very difficult         85
dtype: int64

In [265]:
my_df.leave[my_df.leave == "Don't know"] = 0
my_df.leave[my_df.leave == "Very easy"] = 1
my_df.leave[my_df.leave == "Somewhat easy"] = 2
my_df.leave[my_df.leave == "Somewhat difficult"] = 3
my_df.leave[my_df.leave == "Very difficult"] = 4

pdtable('leave',my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

leave
0    529
2    236
1    190
3    118
4     85
dtype: int64

In [87]:
# look at mental_health_consequence
pdtable('mental_health_consequence',my_df)

mental_health_consequence
No       447
Maybe    445
Yes      266
dtype: int64

In [266]:
my_df.mental_health_consequence[my_df.mental_health_consequence == "Yes"] = 2
my_df.mental_health_consequence[my_df.mental_health_consequence == "Maybe"] = 1
my_df.mental_health_consequence[my_df.mental_health_consequence == "No"] = 0
pdtable("mental_health_consequence",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

mental_health_consequence
0    447
1    445
2    266
dtype: int64

In [88]:
# look at phys_health_consequence
pdtable('phys_health_consequence',my_df)

phys_health_consequence
No       852
Maybe    255
Yes       51
dtype: int64

In [267]:
my_df.phys_health_consequence[my_df.phys_health_consequence == "Yes"] = 2
my_df.phys_health_consequence[my_df.phys_health_consequence == "Maybe"] = 1
my_df.phys_health_consequence[my_df.phys_health_consequence == "No"] = 0
pdtable("phys_health_consequence",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

phys_health_consequence
0    852
1    255
2     51
dtype: int64

In [89]:
# look at coworkers
pdtable('coworkers',my_df)

coworkers
Some of them    714
No              238
Yes             206
dtype: int64

In [268]:
my_df.coworkers[my_df.coworkers == "Yes"] = 2
my_df.coworkers[my_df.coworkers == "Some of them"] = 1
my_df.coworkers[my_df.coworkers == "No"] = 0
pdtable("coworkers",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

coworkers
1    714
0    238
2    206
dtype: int64

In [90]:
# look at supervisor
pdtable('supervisor',my_df)

supervisor
Yes             476
No              356
Some of them    326
dtype: int64

In [269]:
my_df.supervisor[my_df.supervisor == "Yes"] = 2
my_df.supervisor[my_df.supervisor == "Some of them"] = 1
my_df.supervisor[my_df.supervisor == "No"] = 0
pdtable("supervisor",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

supervisor
2    476
0    356
1    326
dtype: int64

In [91]:
# look at mental_health_interview
pdtable('mental_health_interview',my_df)

mental_health_interview
No       936
Maybe    185
Yes       37
dtype: int64

In [270]:
my_df.mental_health_interview[my_df.mental_health_interview == "Yes"] = 2
my_df.mental_health_interview[my_df.mental_health_interview == "Maybe"] = 1
my_df.mental_health_interview[my_df.mental_health_interview == "No"] = 0
pdtable("mental_health_interview",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

mental_health_interview
0    936
1    185
2     37
dtype: int64

In [92]:
# look at phys_health_interview
pdtable('phys_health_interview',my_df)

phys_health_interview
Maybe    515
No       466
Yes      177
dtype: int64

In [271]:
my_df.phys_health_interview[my_df.phys_health_interview == "Yes"] = 2
my_df.phys_health_interview[my_df.phys_health_interview == "Maybe"] = 1
my_df.phys_health_interview[my_df.phys_health_interview == "No"] = 0
pdtable("phys_health_interview",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

phys_health_interview
1    515
0    466
2    177
dtype: int64

In [94]:
# look at mental_vs_physical
pdtable('mental_vs_physical',my_df)

mental_vs_physical
Don't know    532
Yes           321
No            305
dtype: int64

In [272]:
my_df.mental_vs_physical[my_df.mental_vs_physical == "Yes"] = 2
my_df.mental_vs_physical[my_df.mental_vs_physical == "Don't know"] = 1
my_df.mental_vs_physical[my_df.mental_vs_physical == "No"] = 0
pdtable("mental_vs_physical",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

mental_vs_physical
1    532
2    321
0    305
dtype: int64

In [93]:
# look at obs_consequence
pdtable('obs_consequence',my_df)

obs_consequence
No     996
Yes    162
dtype: int64

In [273]:
my_df.obs_consequence[my_df.obs_consequence == "Yes"] = 2
my_df.obs_consequence[my_df.obs_consequence == "No"] = 0
pdtable("obs_consequence",my_df)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

obs_consequence
0    996
2    162
dtype: int64

In [283]:
my_df.shape

(1158, 25)

In [288]:
# make coutnry one hot 
country_dummies = pd.get_dummies(my_df['Country'], prefix = 'country')
my_df = pd.concat([my_df,country_dummies],axis=1)
my_df.shape

(1158, 35)

In [289]:
# drop country
my_df = my_df.drop(['Country'], axis= 1)
my_df.head()

,Age,Gender,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,country_Australia,country_Canada,country_France,country_Germany,country_India,country_Ireland,country_Netherlands,country_New Zealand,country_United Kingdom,country_United States
0,37,0,IL,0,0,1,4,1,0,1,2,1,0,2,2,2,0,0,1,2,0,1,2,0,0,0,0,0,0,0,0,0,0,1
1,44,1,IN,0,0,0,2,5,0,0,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,32,1,NaN,0,0,0,2,1,0,1,0,0,0,0,1,3,0,0,2,2,2,2,0,0,0,1,0,0,0,0,0,0,0,0
3,31,1,NaN,0,1,1,4,2,0,1,0,2,0,0,0,3,2,2,1,0,1,1,0,2,0,0,0,0,0,0,0,0,1,0
4,31,1,TX,0,0,0,1,3,1,1,2,0,1,1,1,0,0,0,1,2,2,2,1,0,0,0,0,0,0,0,0,0,0,1

In [301]:
# get top 10 states
top_10_states = list(pdtable('state',my_df)[:10].index)
print(top_10_states)
states_dummmies = pd.get_dummies(my_df['state'], prefix = 'state')
top_10_states = ['state_'+x for x in top_10_states]
my_df = pd.concat([my_df,states_dummmies.loc[:,top_10_states]],axis=1)
my_df = my_df.drop(['state'],axis=1)
print(my_df.shape)
my_df.head()

['CA', 'WA', 'NY', 'TN', 'TX', 'OH', 'OR', 'PA', 'IL', 'IN']
(1158, 43)

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,country_Australia,country_Canada,country_France,country_Germany,country_India,country_Ireland,country_Netherlands,country_New Zealand,country_United Kingdom,country_United States,state_CA,state_WA,state_NY,state_TN,state_TX,state_OH,state_OR,state_PA,state_IL,state_IN
0,37,0,0,0,1,4,1,0,1,2,1,0,2,2,2,0,0,1,2,0,1,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,44,1,0,0,0,2,5,0,0,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
2,32,1,0,0,0,2,1,0,1,0,0,0,0,1,3,0,0,2,2,2,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,31,1,0,1,1,4,2,0,1,0,2,0,0,0,3,2,2,1,0,1,1,0,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,31,1,0,0,0,1,3,1,1,2,0,1,1,1,0,0,0,1,2,2,2,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0

In [305]:
my_df = my_df.apply(pd.to_numeric)
my_df.index = np.arange(0,my_df.shape[0])

In [307]:
my_df.to_csv("cleaned_survey.csv")